<% include partials/header %>

<!--Page that displays the user's most recent and most popular books-->

<div class = "container">    
    <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to Your Book Database</h1>
            <p>Here's a list of some of your most popular books.</p>
            <p>
                <a class = "btn btn-primary btn-lg" href = "/index/new">Add a New Book</a>
            </p>
        </div>
    </header>
    <div class = "row text-center" style = "display: flex; flex-wrap: wrap;">
        <div class = "col-lg-12">
            <h3>You most popular books</h3>
        </div>
            <% books.forEach(function(site){ %>
                <div class = "col-med-3 col-sm-6">
                    <div class = "thumbnail">
                         <img src = "<%= site.image %>">
                        <div class = "caption">
                            <h4>
                                <%= site.name %>
                            </h4>  
                        </div>
                        <p>
                             <!--The argument "site" in the for each above is 
                            being used because that is the name of each 
                            campground the for each loops through-->
                            <a href = "/books/<%= site._id %>" class = "btn btn-primary"></a> 
                        </p>
                    </div>
                </div>
            <% }); %>
    </div>
</div>

<% include partials/footer %>